@media (min-width: 900px) {
  #mobileback {
    display: none;
  }
  #mobilenav{
    display: none;
  }
}

@media (max-width: 899px) {
  #deskback {
    display: none;
  }
  #desknav{
    display: none;
  }  
}

#mobileback, #deskback{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.volumes{
  font-size: 18pt;
  font-family: monospace;
  color: black;
  background-color: white;
  margin-top: 30%;
  padding: 4%;
  font-weight: bold;
  text-align: center;
}
